<div class="error-page overlay-secondary-dark" style="background-image: url(images/background/bg3.jpg);">
	<div class="error-inner text-center">
		<div class="dz_error" data-text="404">404</div>
		<h2 class="error-head">صفحه ای پیدا نشد</h2>
		<a href="/" class="btn btn-primary btn-border btnhover white-border">خانه</a>
	</div>
</div>
