@page "/user/forgetpassword"

<form id="forgot-password" class="tab-pane fade active show  col-12">
    <h4 class="text-secondary">رمز عبور خود را فراموش کرده اید؟</h4>
    <p class="font-weight-600">We will send you an email to reset your password. </p>
    <div class="mb-3">
        <label class="label-title">شماره تلفن همراه *</label>
        <input name="dzName" required="" class="form-control" placeholder="09123456789" type="text" pattern="[0-9]{11}">
    </div>
    <div class="text-left">
        <a class="btn btn-outline-secondary btnhover m-r10" href="/user/login">برگشت</a>
        <button class="btn btn-primary btnhover">ارسال</button>
    </div>
</form>


@code {

}
