@page "/user/login"


<form id="login" class="tab-pane active col-12 show">
    <h4 class="text-secondary">ورود</h4>
    <p class="font-weight-600">If you have an account with us, please log in.</p>
    <div class="mb-4">
        <label class="label-title">شماره تلفن همراه *</label>
        <input name="dzName" required="" class="form-control" placeholder="09123456789" pattern="[0-9]{11}" type="text">
    </div>
    <div class="mb-4">
        <label class="label-title">رمز عبور *</label>
        <input name="dzName" required="" class="form-control " placeholder="رمز عبور را وارد کنید" type="password">
    </div>
    <div class="text-left">
        <button class="btn btn-primary btnhover me-2">ورود</button>
        <a href="/user/forgetpassword" class="m-l5"><i class="fas fa-unlock-alt"></i> فراموشی رمز عبور</a>
    </div>
</form>


@code {

}
