@page "/"
@inject IJSRuntime JsRuntime

<div class="page-content bg-white">

	<SwiperBanner />

	<Client />
	
	<RecommendSection />

	<IconBox />
	
	<BookSale />
	
	<FeatureProduct />

	<SpecialOffer />
	
	<Testimonial />
	
	<LatestNews />
	
	<FeatureBox />
	
	<NewsLetter />

</div>



@code {
	protected async override Task OnInitializedAsync()
	{
		await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/custom.js");
		await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/dz.carousel.js");
		await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/dz.ajax.js");

		await base.OnInitializedAsync();
	}
}
